* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  gap: 10px;
}
.main-box {
  width: 10vw;
  height: 5vh;
  border: 2px solid green;
  background-color: green;
  display: flex;

  justify-content: center;
  align-items: center;
}
.addtimer {
  width: 15vw;
  height: 10vh;
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
