* {
  margin: 0px;
  padding: 0px;
}

img {
  width: 100vw;
  height: 100vh;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(C3TZR1g81UNaPs7vzNXHueW5ZM76DSHWEY7onmfLxcK2iQXidP5nEJBgAeuxjDGqApSAGE32MC7KTRw4JJe7oQYY2PGfmUhWBcupcWN6mt3MR7rkVZdJ6Un.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: 70vw;
  height: 100vh;

  display: flex;

  justify-content: center;
  align-items: center;
}
.boards {
  display: flex;
  gap: 50px;
  margin-bottom: 600px;
}
.board {
  width: 15.5vw;
  height: 20vh;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px;
  background-color: #ebecf0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.board-1 {
  width: 15.5vw;
  height: 12vh;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px;
  background-color: #ebecf0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.board-head {
  width: 14vw;
  height: 6vh;

  display: flex;

  align-items: center;
}
h1 {
  font-size: 24px;
}
.card {
  width: 14vw;
  height: 4vh;
}
.zero {
  color: grey;
  font-weight: 900;
  font-size: 20px;
  margin-left: 20px;
}
.card {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  margin-top: 7px;
}
.add-card {
  font-size: 18px;
  margin-left: 20px;
}
.card:hover {
  background-color: rgb(207, 205, 205);
  border-radius: 6px;
  cursor: pointer;
}
.back-drop {
}
.modal {
  width: 30vw;
  height: 60vh;
  border: 2px solid green;
}
.cards {
  width: 14vw;
  height: 10vh;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details {
  width: 11vw;
  height: 8vh;
}
h4 {
  font-size: 18px;
}
p {
  font-size: 18px;
  margin-top: 7px;
}
.priority {
  width: 45px;
  height: 25px;
  text-align: center;
  border-radius: 10px;
  margin-top: 7px;
  border: 1px solid grey;
  cursor: pointer;
}
.circle {
  border: 1px solid grey;

  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -60px;
  margin-right: 10px;
  cursor: pointer;
}
.main-circle {
  margin-top: 100px;
}
