* {
  margin: 0;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 385px 485px 485px 300px;
}
.item {
  background-color: grey;
}
.item:nth-child(1) {
  grid-column: 1 / span 2;
  background-color: aliceblue;
}
.item:nth-child(2) {
  grid-column: 3 / span 5;

  background-color: #f7f8f9;
}
.item:nth-child(3) {
  grid-column: 1/2;
  background-color: #f05638;
}
.item:nth-child(4) {
  grid-column: 2/4;
  background-color: white;
}
.item:nth-child(5) {
  grid-row: 2/4;
  grid-column: 4/5;
  background-color: #8f76bc;
}
.item:nth-child(6) {
  grid-column: 1/2;
  background-color: white;
}
.item:nth-child(7) {
  grid-column: 2/4;
  background-color: #93b6b7;
}
.item:nth-child(8) {
  grid-column: 1/2;
  background-color: #38d5f4;
}
.item:nth-child(9) {
  grid-column: 2/3;
  background-color: white;
}
.item:nth-child(10) {
  grid-column: 3/5;
  background-color: black;
}
.photo1 {
  width: 250px;
  height: 350px;
  margin-top: 50px;
}
.photo2 {
  width: 320px;
  height: 170px;
}
.photo3 {
  width: 450px;
  height: 160px;
  margin-left: -292px;
  margin-top: 100px;
}
.photo4 {
  width: 240px;
  height: 270px;
}
.photo5 {
  width: 248px;
  height: 168px;
}
.photo6 {
  width: 900px;
  height: 320px;
  margin-top: 100px;
  margin-right: 150px;
}
.photo8 {
  width: 271px;
  height: 260px;
}
.main-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

h3 {
  color: grey;
  margin-bottom: 20px;
  font-size: 15px;
}
p {
  font-size: 25px;
}
.lear {
  color: grey;
  font-size: 18px;
  margin-top: 20px;
}
button {
  color: #35cfed;
  margin-top: 20px;
  cursor: pointer;
}
.main-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.how {
  font-size: 50px;
}
.main-container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}
.our {
  color: white;
  font-size: 30px;
}
.learn {
  color: yellow;
  background-color: #f05638;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
}
.main-container4 {
  display: flex;
  gap: 200px;
  padding: 100px;
}
.apple {
  color: grey;
  font-size: 18px;
}
.main {
  display: flex;

  flex-direction: column;
}
.popular {
  border: 2px solid #8166b0;
  width: 370px;
  height: 370px;
  background-color: #8166b0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 60px;
  margin-top: 100px;
  flex-direction: column;
}
.now {
  color: #38d5f4;
  font-size: 12px;
  margin-top: 20px;
  cursor: pointer;
}
.imac {
  color: grey;
  font-size: 13px;
  margin-bottom: 20px;
}
.popu {
  border: 2px solid grey;
  color: white;
  background-color: #8f76bc;
  border-radius: 30px;
  font-size: 15px;
  margin-bottom: 20px;
}
.container6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cloud {
  color: white;
  font-size: 30px;
  margin-top: 40px;
}
.with {
  color: white;
  margin-right: 60px;
  margin-left: 60px;
  margin-top: 30px;
  font-size: 20px;
}
.learnmore {
  border: 1px solid #ffc80a;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  color: black;
  background-color: #ffc80a;
  font-size: 20px;
  cursor: pointer;
}
.meet {
  color: white;
}
.main-container5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}
.games {
  color: black;
  margin-left: 50px;
}
.best {
  background-color: #f05638;
  color: white;
  border: 2px solid #f05638;
  font-size: 10px;
  padding: 5px;
  border-radius: 10px;
  margin-left: -800px;
  margin-top: 30px;
}
.lea {
  color: #35cfed;
  margin-top: 35px;
  background-color: white;
  font-size: 20px;
  cursor: pointer;
}
.pj {
  font-size: 30px;
  color: white;
  margin-top: 20px;
}
.main-container6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-container8 {
  border: 2px solid #35cfed;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #35cfed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  flex-direction: column;
}
.connect {
  color: white;
  font-size: 20px;
  margin-top: 20px;
}
.pop {
  border: 2px solid #7bc424;
  width: 120px;
  height: 20px;
  border-radius: 30px;
  color: white;
  background-color: #7bc424;
  display: flex;
  justify-content: center;
  align-items: center;
}
.much {
  font-size: 30px;
  color: black;
  margin-top: 20px;
}
.main-container9 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}
.more {
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container10 {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 1000px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .item:nth-child(1) {
    grid-column: 1 /5;
  }
  .item:nth-child(2) {
    grid-column: 1 /5;
  }
  .item:nth-child(3) {
    grid-row: 4/3;
  }
  .item:nth-child(4) {
    grid-column: 1 / span 5;
    grid-row: 4 / span 5;
  }
  .item:nth-child(6) {
    grid-row: auto;
    grid-column: 3/5;
  }
  .item:nth-child(5) {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 12;
    background-color: #8f76bc;
  }
  .item:nth-child(8) {
    grid-column: 1/2;
    grid-row-start: 8;
    background-color: #38d5f4;
  }
  .item:nth-child(9) {
    grid-column: 1/5;
    background-color: white;
  }
  .item:nth-child(10) {
    grid-column: 1/5;
    background-color: black;
  }
  .much {
    color: black;
  }
  .pj {
    color: black;
  }
  .main-container5 {
    width: 404px;
    height: 485px;
  }
  .item:nth-child(7) {
    grid-column: 3/1;
    grid-row-start: 8;
    background-color: #38d5f4;
    background-color: #93b6b7;
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .item:nth-child(1) {
    grid-column: 1 /5;
    background-color: aliceblue;
  }
  .item:nth-child(2) {
    grid-column: 1 /5;
    grid-row: 2 / 2;

    background-color: #f7f8f9;
  }
  .item:nth-child(3) {
    grid-column: 1/5;
    background-color: #f05638;
  }
  .item:nth-child(4) {
    grid-column: 1/5;
    background-color: white;
  }
  .item:nth-child(5) {
    grid-row: 1/5;
    grid-row: 4/5;
    display: none;
    background-color: #8f76bc;
  }
  .item:nth-child(6) {
    grid-column: 1/2;
    background-color: white;
  }
  .item:nth-child(7) {
    grid-column: 2/4;
    background-color: #93b6b7;
  }
  .item:nth-child(8) {
    grid-column: 1/5;
    background-color: #38d5f4;
  }
  .item:nth-child(9) {
    grid-column: 1/5;
    background-color: white;
  }
  .item:nth-child(10) {
    grid-column: 1/5;
    background-color: black;
  }
  .main-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
}
